@import url('https://fonts.cdnfonts.com/css/steamflix-grotesk');

@media(min-width: 0){
  .container{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 20px;
  }

  .profilePhoto{
    margin-top: 50px;
    width: 300px;
    padding: 25px;
    margin:auto;
    font-family: 'Steamflix Grotesk', sans-serif;                                              
  }

 
  .line{
    display: flex;
    margin: auto;
    width: 350px;
    text-align: left;
    font-family: 'Steamflix Grotesk', sans-serif;
    padding-left: 25px;                                              
  }
  
}

@media(min-width: 1200px){
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: auto;
    width: 800px;
    margin-top: 20px;
  }

  .profilePhoto{
    margin-top: 50px;
    width: 500px;
    padding: 25px;
    margin:auto;
    font-family: 'Steamflix Grotesk', sans-serif;                                              
  }

  .line{
    display: flex;
    margin: auto;
    width: 400px;
    text-align: left;
    font-family: 'Steamflix Grotesk', sans-serif;
    padding-left: 25px;                                              
  }

}

.mainContainer{
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}           



.profilePhoto img{
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0,0,0,0.35);
  border-radius: 50%;
  width: 90%;
}


.line .tag{
  color: rgb(103, 103, 103);
  justify-self:center;
  width: 25%;
  padding-right: 10px;
  font-weight: bold;
}

.line .info{
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
  color: gray;
}

.line img{
  height: 10%;
  width: 10%;
  padding-left: 15px;
  align-self: center;
}

h2{
  text-align: left;
  padding: 5px 25px 5px 25px;
  color: rgb(229, 66, 31);
  font-size: 2em;
  font-family: 'Steamflix Grotesk', sans-serif;
  display: flex;
}
.bar{
  width: 5px;
  height: auto;
  margin-right: 15px;
  background:rgb(229, 66, 31);
}



.subContainer{
  padding-left: 25px;
}
.headContainer{
  width: 100%;
}

/**************************LEVEL REFERENCE************/
@media(min-width: 0){
  .level-reference{
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
  }
  .level_line{
    padding-left: 25%;
    text-align: left;
  }
  .level_line p{
    width: 100px;
  }
}

@media(min-width: 800px){
  .headContainer{
    display: flex;
    justify-content: center;
  }
 
  .level-reference{
    display: flex;
    align-items: center;
    border: none;
  }

  .level-reference h3{
    padding-right: 20px;
  }
  .level-reference .level_line{
    padding-right: 10px;
    padding-left: 0;
  }

  .level_line p{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}


.head h2{
  width: auto;
  margin: auto;
  padding-left: 25px;
}

.level-reference h3{
  width: 175px;
  align-self: center;
}
.level-reference{
  color: rgb(229, 66, 31);
  font-family: 'Steamflix Grotesk', sans-serif;
  margin-left: 25px;
}

.level_line{
  display: flex;
}

.fill, .empty{
  height: 15px;
  width: 15px;
  align-self: center;
  margin: 2px;
}
.fill{
  background: rgb(229, 66, 31);
}

.empty{
  background: gray;
}

/*************technical Skills Wrapper*******/
.skill_line{
  display: flex;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  font-family: 'Steamflix Grotesk', sans-serif;
  
}
.skill_line:hover{
  background: rgba(128, 128, 128, 0.5); 
  border-radius: 25px;

}
.skill_line i, .skill_line p{
  padding: 2px;
}
.skills_container {
  display: grid;
  grid-gap: 5px;
  margin: auto;
}

@media(min-width: 0){
  .skills_container{
    grid-template-columns: repeat(2, 1fr);
  }
  .skills_container{
    width:90%;
  }

  .skill_line p{
    width: 100px;
  }
  .skill_line{
    padding-left: 0;
  }
}

@media(min-width: 700px){
  .skills_container{
    grid-template-columns: repeat(3, 1fr);
  }
  .skills_container{
    width:90%;
  }

  .skill_line p{
    width: 100px;
  }
  .skill_line{
    padding-left: 0;
  }
}
@media(min-width: 1000px){
  .skills_container{
    grid-template-columns: repeat(4, 1fr);
  }
  .skills_container{
    width:90%;
  }

  .skill_line p{
    width: 100px;
  }
  .skill_line{
    padding-left: 0;
  }
}

@media(min-width: 1400px){
  .skills_container{
    grid-template-columns: repeat(5, 1fr);
  }
  .skills_container{
    width:90%;
  }

  .skill_line p{
    width: 100px;
  }
  .skill_line{
    padding-left: 0;
  }
}

@media(min-width: 1800px){
  .skills_container{
    grid-template-columns: repeat(6, 1fr);
  }
  .skills_container{
    width:90%;
  }

  .skill_line p{
    width: 100px;
  }
  .skill_line{
    padding-left: 0;
  }
}


