.navbar{
  text-align: center;
  padding: 15px;
  width: auto;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0,0,0,0.35);
}

.navlink, .externalLink{
  padding: 10px 25px 10px 25px;
  border-radius: 5px;

}

.navlink:hover, .externalLink:hover{
  background: gray;
  color: white;
}

.navbar *{
  text-decoration: none;
  font-size: 1.2em;
}
